<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Handwritten Digit Recognition System</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<style>
	body{
		background-image: url("https://static.vecteezy.com/system/resources/previews/004/585/397/large_2x/folder-data-management-low-poly-wireframe-illustration-isolated-background-vector.jpg");
		background-size: cover;
	}
</style>
</head>
<body>
<div id="home">
	<div class = "landing-text">
		<h2>Team ID : PNT2022TMID38424</h2>
		<h1>A Novel Method For Handwritten Digit Recognition System</h1>
		<h3>Predict Digits Click Here !</h3><br>
		<a href="./web" class="btn btn-default btn-lg">Predict</a>
	</div>
</div>
</body>
</html>
